:root {
  /* ### Primary*/

  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /*### Neutral*/

  --Dark-gray: hsl(0, 0%, 59%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-cyan);
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: calc(48vw - 978px) calc(-70vh), 48vw 52vh;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCard {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 50px 1px var(--Dark-grayish-blue);
}

.profileCardBackground {
  border-radius: 1rem 1rem 0 0;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
/* ------------ profile picture --------------*/
.profilePicture {
  position: absolute;
  align-self: center;
  top: -25%; 
  border-radius: 50%;
  border: 0.4rem solid white;
}

.user {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:1rem;
  font-size: large;
}

.name {
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}

.age {
  color: var(--Dark-gray);
}
.city {
  align-self: center;
  font-size: medium;
  color: var(--Dark-gray);
}
/*---------------- stats -------------------------*/

.stats {
  margin-top: 2rem;
  padding: 1.8rem 0;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  border-top: 0.1rem solid var(--Dark-gray);
}

.statValue {
  text-align: center;
  font-size: larger;
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}

.statTitle {
  text-align: center;
  font-size: 0.7rem;
  color: var(--Dark-gray);
}

/*------------------- footer -------------------------*/
.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}